/*global*/
:root{
    --primary: rgb(255, 204, 0);
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}

/*utilities*/
p.read-btn{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

/*nav*/
nav{
    height: 3rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: rgb(255, 255, 255);

}
div.logo-image-container{
    max-height: 2rem;
    display: flex;
    flex-direction: row;
}
.large-logo{
    align-items: center;
    display: none;
}

.menu{
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.link-login{
    font-weight: 900;  
    font-size: .85rem;
    letter-spacing: 3px;
}
.link-login:hover,
.link-search:hover,
.link-menu-btn:hover,
.link-down-arrows:hover{
    color: gray;
} 
div.menu a{
    padding-block: .95rem;
    padding-inline: .4rem;
    font-weight: 700;
    text-decoration: none;
    color: #2a2e2f;
    
}
a.hide{
    width: 0;
    visibility: hidden;
}
div.menu a.link-subscribe{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: .8rem;
    background-origin: left;
    position: relative;
    padding-inline: 1rem;
    z-index: 1;
    transition: transform .5s ease;
    overflow: hidden;
}
.link-subscribe::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s ease;
    transform-origin: left;
    background-color: var(--primary);
    z-index: -1;
}
div.menu a.link-subscribe:hover{
    color: rgb(0, 0, 0);
}
a.link-subscribe:hover::after{
    transform: scaleX(1);
}.link-down-arrows{
    font-size: .8rem;
    font-weight: 100;
}


/*header*/

div.header-container{
    padding-top: 1rem;
    padding-inline: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
}
.animated-underline{
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 1;
}
div.div.header-container span{
    height: 100%;
    width: 50%;
    transform-origin: bottom;
    position: relative;
    z-index: 2;
}
div.header-container p{
    position: relative;
}
span{
    position: relative;
    height: 100%;
    width: 100%;
}
span::after{
    content: "";
    background-color: var(--primary);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 2px;
    left: 0;
    bottom: 0;
    transform-origin: bottom;
    transition: transform .2s ease;
    transform: scaleY(.1);
    z-index: -1;
}
span:hover{
    color: rgb(0, 0, 0);
}
span:hover::after{
    transform: scaleY(1.1);
    color: rgb(0, 0, 0);
}

div.header-container span:hover{
    color: rgb(0, 0, 0);
}
div.header-container p{
    font-size: 1rem;
    
    margin-block: -1rem;
}
div.line{
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary);
    padding-bottom: 2.5rem;
}

/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: baseline;
    flex-basis: 100%;
    margin-inline: 1rem;
}
main div{
    margin: 2%;
    height: 20rem;
    max-width: 980px;
}
div.main-news{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}
div.main-news:after{
    content: "";
    background-image: linear-gradient(0deg, rgba(23, 23, 23, 1) 0%,
        rgba(23, 23, 23, .5) 30%,
        rgba(23, 23, 23, .25) 50%,
        rgba(23, 23, 23, .2) 75%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}
div.hover{
    height: 100%;
    width: 100%;
}
div.main-news img{
    position: relative;
    z-index: -1;
    transform: scale(1.7);
    top: -10px;
    transition: transform .25s ease;
}
div.main-news div.hover:hover img{
    transform: scale(1.85);
}
.main-news p,
.main-news h3{
    width: 100%;
    position: relative;
    bottom: 20px;
    padding-left: 1rem;
    margin-block: 0;
    font-size: .78rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-news h3{
    margin-bottom: -.3rem;
}
.main-news p{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
main p.read-btn{
    font-size: .8rem;
}
.secondary-container{
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    align-items: center;
    height: 100%;
    width: 100%;
}
div.secondary-news{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.secondary-text-container{
    margin: 0;
    margin-inline: 1rem;
}

.secondary-news p,
.secondary-news h3{
    margin-block: 0;
    padding-top: 1rem;
    
}
.secondary-news h3{
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: gray;
}
.secondary-news h3 span{
    padding-left: 1rem;
    font-weight: 100;
}
.secondary-news p{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2rem;
    columns: rgb(0, 0, 0);
    position: relative;
}
.secondary-news p.read-btn{
    letter-spacing: 2px;
}
.secondary-img-container{
    margin: 0;
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
img.secondary-news-img{
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: transform .3s ease;
}
img.secondary-news-img:hover{
    transform: scale(1.1);
}
.secondary-text-container{
    height: 100%;
}
.section{
    margin-inline: 1rem;
}
div.todays-picks{
    display: flex;
    flex-direction: column;
}
.h2{
    text-align: left;
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 1.5rem;
    position: relative;
}
.section-header{
    position: relative;
    height: 2rem;
    width: 100%;
    padding-bottom: 1.5rem;
}
.top-pick-span{
    content: "";
    width: 5px;
    height: 1.8rem;
    position: absolute;
    left: -1.5rem;
    top: 3px;
    background-color: var(--primary);
}
.pick-item{
    position: relative;
    display: flex;
    align-items: center;
    height: 8rem;
    max-width: 100%;
}
div.pick-img-container{
    position: relative;
    max-width: 80px;
    height: 80px;
    overflow: hidden;
}
.pick-img{
    transform: scale(1);
    position: relative;
    height: 100%;
    width: 100%;
}
.pick-text{
    padding-left: 1rem;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    font-size: .8rem;
}
.pick-text h3{
    padding-top: .4rem;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.pick-text p{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}


/*desktop*/
@media (min-width: 768px){
    a.hide{
        width: 100%;
        visibility: visible;
    }
    .large-logo{
        display: block;
    }
    .small-logo{
        width: 0;
    }
    .menu{
        position: relative;
    }
    .menu a{
        flex-basis: content;
    }
    .link-subscribe{
        width: 30%;
    }
    .link-renew{
        position: relative;
        z-index: 1;
        font-size: .75rem;
        text-transform: none;
    }
    .link-renew::after{
        content: "";
        width: 80%;
        height: 50%;
        background-color: var(--primary);
        position: absolute;
        bottom: 12px;
        left: 7px;
        transform-origin: bottom;
        transform: scaleY(.1);
        transition: transform .2s ease;
        z-index: -1;
    }
    .link-renew:hover::after{
        transform: scale(1);
    }
    .secondary-container{
        flex-direction: row;
    }
    .secondary-container{
        margin: 0;
        gap: 1rem;
    }
    .secondary-news{
        margin: 0;
    }
    .main-news{
        padding-inline: -3rem;
    }
    .hover{
        margin: 0;
    }
    div.todays-picks{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    div.pick-item{
        flex-basis: 50%;
    }
    .pick-text{
        flex-wrap: wrap;
        padding-right: 1rem;
    }

    @media (min-width: 1122px){
        div.todays-picks{
            display: flex;
            flex-direction: column;
        }
        main{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        main div{
            width: 100%;
            height: 100%;
        }
        .desktop-container{
            position: relative;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 15rem;
        }
        .desktop-container div{
            position: relative;
            width: 100%;
            height: 100%;
            flex-basis: 60%;
        }
        div.secondary-container{
            position: relative;
            max-height: 70%;
            overflow: hidden;
        }
        .pick-img{
            transform: scale(1);
            position: relative;
            height: 100%;
            width: 100%;
        }
        .secondary-news{
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding-bottom: 30%;
            margin-top: -8rem;
        }
        .secondary-img-container{
            position: relative;
            min-height: 100%;
            width: 100%;
        }
        .secondary-news dev{
            position: relative;
            flex-basis: 50%;
        }
        .secondary-text-container{
            position: relative;
        }
    }
}
